/* YOUR CSS GOES HERE */
html {
  font-size: 16px;
  line-height: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #303030;
}
body {
  max-width: 300px;
  padding: 1em 1em 2em 1em;
  margin: 0 auto;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 165%;
  text-align: center;
  margin: -17% 0 0 0;
}
h2 {
  font-size: 135%;
  margin: 1.5em 0 -.75em -.5em;
}
a {
  padding: 22px;
  text-decoration: none;
}
li {
  list-style-type: none;
  margin: 0 0 0 -15%;
}
.navigationBar {
  position: fixed;
  top: 0em;
  left: 0em;
  width: 100%;
  background-color: #5B3A59;
}
i {
  display: inline-block;
  padding: 12px;
  position: relative;
}
#dropBtn {
  color: white;
  font-size: 1.5em;
  margin: 0 1.65em;
  cursor: pointer;
}
#phone, #pin {
  top: 0;
  left: 10%;
  font-size: 1.75em;
  color: white;
}
.dropdownMenu {
  position: relative;
  display: inline-block;
}
.dropdownContent {
  display: none;
  position: absolute;
  top: 3em;
  left: 2em;
  background-color: #EBF0E5;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 270%;
  z-index: 1000;
}
.dropdownContent a {
  font-weight: bolder;
  font-size: 115%;  
  color: #303030;
  padding: 22px;  
  display: block;
  border: .25px solid #C2D3B0;
}
.dropdownContent a:hover {
background-color: #ADC495
}
.dropdownMenu:hover .dropdownContent {
  display: block;
}
#logo {
  margin: 4em 4em   
}
.introduction {
  margin: 3.65em 0 2.5em 0;
}
p {
  margin: -1em 0 2.5em 0; 
}
table {
  width: 100%;
  margin: 1em auto;
}
th, h3 {
  text-align: left;
  color: #5c892c;
  font-weight: bolder;
}
h3{
  margin: -.75em 0 1em 0;
}
td {
  padding: .25em 0;
}
iframe {
  width: 100%;
  margin: 1.5em 0 0 0;
  border: .5px solid #303030;
}
.address {
  margin: 1.25em 0 0 0;
}
.cuPhone {
  margin: 2em 0 0 0;
  padding: 22px;
  text-align: center;
  font-weight: bolder;
  border: 2px solid #5c892c;
}
footer {
  margin: 3em 0 0 0;
  border-top: .25px solid #303030;
}
.socialMedia {
  width: 81%;
  margin: 0 auto;
}
footer p {
  font-size: 75%;
  text-align: center;
  margin: -.5em 0 0 0;
}



@media screen and (min-width: 301px) 